#map {
    position: fixed;
    width: 75%;
}
#features {
    width: 350px;
    margin-left: 100%;
    margin-right: 10px;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}
section {
    padding: 25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}