<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Finders : Data4Gov Challenge 2020</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <img style="width: 120px; height:53px;" src='images/logo.png' />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Flood</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/github">Github</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-8">
                <iframe src="//nigeria.opendataforafrica.org/resource/embed/mecxitg/first" scrolling="no"
                    frameborder="0" style="height:240px; width:740px;"></iframe>

                <div class="row">
                    <div class="col-md-5">
                        <iframe src="//nigeria.opendataforafrica.org/resource/embed/mecxitg/third" scrolling="no"
                            frameborder="0" style="height:350px;"></iframe>

                    </div>
                    <div class="col-md-5">
                        <iframe src="//nigeria.opendataforafrica.org/resource/embed/iacdzsd/third" scrolling="no"
                            frameborder="0" style="height:350px;"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="">
                    <img src="images/agric.jpg" class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h1 class="card-title" style="font-size:x-large;"><b>Nigeria is Home to 180 million people</b>
                        </h1>
                        <p style="font-size: large;" class="card-text">Indonesia's tourism industry remains one of the
                            significant components of
                            the Indonesian economy.
                            Tourism
                            numbers have been growing from 5.5 million in 2007 to 7 million in 2010, according to
                            Indonesia
                            Statistics. Moreover, the government has a target of 15 million of tourism numbers in 2017.
                            Indonesia's
                            destination for tourism is a strategic role in Indonesia. Bali is known for its unique
                            culture and
                            beautiful beaches and volcanos. According to data from the Bali Tourism Office, there are
                            141
                            tourist
                            destinations spread across eight regencies and one city.</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="font-size:4em; margin-top: 100px;;"><b>The Impact of Flood on Agriculture</b> </h1>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <iframe
                    src='https://players.brightcove.net/665003303001/4k5gFJHRe_default/index.html?videoId=5847908401001&usrPersonaAds=0'
                    allowfullscreen frameborder=0 style="width:100%; height:500px;"></iframe>

            </div>

        </div>
    </div>

    <div class="container" style="margin-top: 100px;margin-bottom: 100px;">
        <div class="row text-center">
            <div class="col-md-12">
                <a href="/oyo-farms"><button class="btn btn-lg btn-primary">Next</button></a>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>